<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a186a4">  <td>18/11/01 16:29:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ScriptBaseTestNG.setUp(java.lang.String)[pri:0, instance:com.fitchconnect.testng.LoginTests@20140db9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1281414889</td>   <td></td> </tr>
<tr bgcolor="a186a4">  <td>18/11/01 16:29:59</td>   <td>8422</td> <td>&nbsp;</td><td title="&lt;&lt;ScriptBaseTestNG.tearDown()[pri:0, instance:com.fitchconnect.testng.LoginTests@20140db9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1281414889</td>   <td></td> </tr>
<tr bgcolor="a27078">  <td>18/11/01 16:29:59</td>   <td>8373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.validLogin()[pri:0, instance:com.fitchconnect.testng.LoginTests@20140db9]">validLogin</td> 
  <td>main@1281414889</td>   <td></td> </tr>
</table>
